---
// import SvelteComponent from "../components/background/main.svelte"
import SvelteComponent from "../components/background/index.svelte"
---
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>Matthew Kelley's Portfolio</title>
</head>

<body>
	<h1>Welcome to <a href="https://astro.build/">Astro</a></h1>
	<h2>By Bob</h2>
	<h3>WHY DON'T YOU WORK YOU BASTARD, I'm likely being a moron</h3>
	<main>
	<SvelteComponent client:load="svelte"/>
	</main>

</body>

</html>