---
// import SvelteComponent from "../components/background/main.svelte"
import SvelteComponent from "../components/matrix/main.svelte"
---
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>Matrix Test</title>
</head>

<body>
	<main>
	<SvelteComponent client:load="svelte"/>
	</main>

	<h4>Powered by <a href="https://astro.build/">Astro</a></h1>
</body>

</html>